body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 100vh;
    margin: 0;
    background-image: url('images/grass.jpg'); 
    background-size: cover; 
}

#board {
    border: 30px outset rgb(23, 139, 23);
}

#score {
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
